.modal {
    position: fixed;
    left: auto;
    right: auto;
    top: 30vh;
    background: black;
    opacity: 0.94;
    padding: 3rem;
    border-radius: 12px;

    h4 {
        font-size: 2rem;
        line-height: 1.4;
        font-weight: 500;
    }

    button {
        margin: 0 1rem;
    }
}
